<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85bdee">  <td>20/06/23 18:14:27</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;LoginTestCases.closeBrowser()[pri:0, instance:testScripts.LoginTestCases@2a17b7b6]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2104545713</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>20/06/23 18:14:56</td>   <td>28436</td> <td>&nbsp;</td><td title="&lt;&lt;LoginTestCases.closeBrowser()[pri:0, instance:testScripts.LoginTestCases@17579e0f]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2104545713</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>20/06/23 18:14:20</td>   <td>-7613</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestCases.logout()[pri:2, instance:testScripts.LoginTestCases@2a17b7b6]">logout</td> 
  <td>main@2104545713</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>20/06/23 18:14:47</td>   <td>20053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestCases.logout()[pri:2, instance:testScripts.LoginTestCases@17579e0f]">logout</td> 
  <td>main@2104545713</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>20/06/23 18:13:53</td>   <td>-34480</td> <td>&nbsp;</td><td title="&gt;&gt;LoginTestCases.setup(java.lang.String)[pri:0, instance:testScripts.LoginTestCases@2a17b7b6]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2104545713</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>20/06/23 18:14:32</td>   <td>4716</td> <td>&nbsp;</td><td title="&gt;&gt;LoginTestCases.setup(java.lang.String)[pri:0, instance:testScripts.LoginTestCases@17579e0f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2104545713</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>20/06/23 18:14:15</td>   <td>-11916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestCases.testLogin()[pri:1, instance:testScripts.LoginTestCases@2a17b7b6]">testLogin</td> 
  <td>main@2104545713</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>20/06/23 18:14:45</td>   <td>17498</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestCases.testLogin()[pri:1, instance:testScripts.LoginTestCases@17579e0f]">testLogin</td> 
  <td>main@2104545713</td>   <td></td> </tr>
</table>
